* {
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    text-align: center;
    color: #202021;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
  
  :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      
    }
  
  p {
    margin: 0;
  }
  
  .spacer {
    flex: 1;
  }
  
  /* Toolbar */
  .toolbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    align-items: center;
    background-color: #6aa1c4;
    font-weight: 600;
    border-radius: 0px;
    z-index: 999;
    img {
      margin-right: 20px;
    }
  }
  
  /* Button container */
  .button-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    height: inherit;
    z-index: 999;
  }
  
  /* Button */
  .button {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border-radius: 4px;
    width: auto;
    height: inherit;
    padding: 0 10px 0;
    transition: all 0.2s ease-in-out;
  }
  .button.active {
    background-color: #4e758d;
  }
  
  /* Large Icon */
  .large-icon {
    font-size: 22px;
  }
  .button .large-icon {
    margin-right: 10px;
  }
  
  /* all teams dropdown menu */
  .teams-dropdown {
    position: relative;
    display: block;
    align-items: center;
    height: inherit;
  }
  .teams-dropdown-content {
    display: none;
    width: auto;
    position: absolute;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
    column-count: 1;
    column-gap: 10px;
    top: 100%;
    background-color: rgba(228, 227, 227);
    border: 5px solid #ccc;
    border-top-style: inset;
  }
  .teams-dropdown-column {
    display: block;
    column-count: 3;
    justify-content: space-between;
    align-items: center;
    top: 100%;
  }
  .teams-dropdown-subheader {
    font-weight: bold;
    margin-bottom: 5px;
    flex-direction: column;
    width: 250px;
    column-count: 1;
    align-items: center;
    .button {
      font-size: small;
      height: 20px;
      padding: 0;
      margin: 0;
    }
  }
  .teams-dropdown-league {
    font-size: large;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
    width: 100%;
    flex-direction: column;
    .teams-dropdown-column {
      display: flex;
      justify-content: center;
      align-content: space-evenly;
      column-count: 3;
      top: 100%;
    }
  }
  .teams-dropdown-content .dropdown-column {
    margin-right: 0;
  }
  .teams-dropdown-item {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .stats-dropdown {
    position: relative;
    display: block;
    align-items: center;
    height: inherit;
    z-index: 999;
  }
  .stats-dropdown-content {
    display: none;
    position: absolute;
    max-height: 200px;
    left: 0;
    width: auto;
    top: 100%;
    background-color: rgba(228, 227, 227);
    border: 4px solid #ccc;
    border-top-style: inset;
    z-index: 999;
  }
  
  .stats-dropdown-content .column {
    display: inline-block;
    width: auto;
    height: inherit;
    column-count: 5;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    top: 100%;
    margin: 5px;
    padding: 5px
  }
  
  .stats-dropdown-content .column .button {
    width: 50px;
    font-size: small;
    height: 20px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
    z-index: 999;
  }
  /* Main content */
  .content {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 92%;
    width: 99%;
    top: 7%;
    border: 2px solid red;
    box-sizing: border-box;

    .main-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 50px;
      column-gap: 50px;
      row-gap: 20px;
    }
    .side-section {
      display: flex;
      row-gap: 20px;
      flex-direction: row;
      align-items: flex-start;
    }
  }
  
  
  #myChart {
    width: 60vw;
    max-height: 600px;
    z-index: -1;
  }
  
  .small-chart {
    position: relative;
    max-width: 20vw;
    max-height: 180px;
    margin-top: 20%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }
  
  a:hover {
    color: #125699;
  }
  
  footer {
    margin-top: 8px;
    align-items: center;
    line-height: 20px;
  }
  
  footer a {
    display: flex;
    align-items: center;
  }

  
  .active {
    background-color: rgb(127, 127, 127, 1);
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    height: inherit;
    width: 200px;
    height: inherit;
    :hover {
      cursor: pointer;
    }
    .slider {
      position: relative;
      height: 40px;
      width: 200px;
      cursor: pointer;
      background-color: #5d8ead;
      -webkit-transition: .4s;
      transition: .4s;
    }
    .label {
      position: absolute;
      top: 11px;
      left: 32px;
      display: block;
      text-align: center;
    }
    .slider:after {
      position: absolute;
      content: "";
      height: 30px;
      left: 0;
      width: 90px;
      background-color: rgb(255, 255, 255, 0.5);
      -webkit-transition: .4s;
      transition: .4s;
      border: 5px solid rgb(19, 35, 85);
    }
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
input:checked + .slider:after {
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
}

.chart-slider-container { 
    position: relative;
    width: 900px;
    height: 15px;
    z-index: 999;
}

.chart-slider {
    position: relative;
    width: inherit;
    height: inherit;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    z-index: 1;
}

.chart-slider::-moz-range-track {
    width: inherit;
    height: inherit;
    background: #d8dde1;
    cursor: pointer;
    z-index: 1;
  }
.chart-slider::-moz-range-track::after {
    background: #204a33;
    cursor: pointer;
  }

 /* Special styling for WebKit/Blink */
 .chart-slider::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
    z-index: 1;
  }
  
  /* All the same stuff for Firefox */
  .chart-slider::-moz-range-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #6a668e;
    cursor: pointer;
    z-index: 1;
  }
  .chart-slider::-moz-range-thumb:hover {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    transform: scale(110%);
  }
  
  /* All the same stuff for IE */
  .chart-slider::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }

  .button-container .button[disabled] {
    :disabled {
      pointer-events: none;
    }
    pointer-events: none;
    opacity: 0.5;
  }
  @media (hover: hover) {
    .button:hover {
      cursor: pointer;
    }
    .button:hover :not(.large-icon){
      cursor: pointer;
      transform: scale(110%);
    }
    .button:hover .large-icon {
      font-size: 26px;
    }
    .button-container:hover .button:not(:hover){
      opacity: 70%;
    }
    .schedule-navbar:hover .button:hover {
      cursor: pointer;
    }
    .schedule-navbar:hover .button:not(:hover) {
      opacity: 0.7;
    }
    .teams-dropdown:hover .teams-dropdown-content, .stats-dropdown:hover .stats-dropdown-content {
      display: block;
    }
    .stats-dropdown-content .button:hover,  .teams-dropdown-content  .button:hover {
      background-color: rgb(127, 127, 127, 0.2);
    }
    .stats-dropdown-content .button:active,  .teams-dropdown-content  .button:active {
      background-color: rgb(127, 127, 127, 1);
    }
  }