<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Toolbar -->
<div class="toolbar" role="banner">
	<a routerLink="/" class="button" (click)="resetTeamsandChart(false)"><i class="fa fa-home large-icon"></i></a>
	<a routerLink="/schedule" class="button" (click)="switchStatus($event)"><i class="fa fa-calendar large-icon"></i></a>
	
	<div class="button-container" *ngIf="pageLoaded">
		<label class="switch">
			<input type="checkbox" id="myCheckbox" (click)="getCheckboxStatus()" checked>
			<span class="slider"></span>
			<span class="label">2021</span>
			<span class="label" style="left: 130px;">2022</span>
		</label>
		<div class="teams-dropdown">
			<button class="button" tabindex="0" *ngIf="currentYearData"><span>Teams</span></button>
			<div class="teams-dropdown-content">
				<div class="teams-dropdown-league">American League</div>
				<div class="teams-dropdown-column">
					<div class="teams-dropdown-subheader" id="AmericanLeagueEast">
						<button class="button" style="color: black; font-size:large" (click)="toggleButton($event.target, 'Divisions')">East</button>
						<button class="button" *ngFor="let team of entireMLB['AmericanLeague'].East" (click)="toggleButton($event.target, 'Teams')" [class.active]="activeButtons['Teams'][team]" tabindex="0" [id]="team">
								{{ team }}
						</button>
					</div>
					<div class="teams-dropdown-subheader" id="AmericanLeagueCentral">
						<button class="button" style="color: black; font-size:large" (click)="toggleButton($event.target, 'Divisions')">Central</button>
						<button class="button" *ngFor="let team of entireMLB['AmericanLeague'].Central" (click)="toggleButton($event.target, 'Teams')" [class.active]="activeButtons['Teams'][team]" tabindex="0" [id]="team">
							{{ team }}
						</button>
					</div>
					<div class="teams-dropdown-subheader" id="AmericanLeagueWest" >
						<button class="button" style="color: black; font-size:large"(click)="toggleButton($event.target, 'Divisions')">West</button>
						<button class="button" *ngFor="let team of entireMLB['AmericanLeague'].West" (click)="toggleButton($event.target, 'Teams')" [class.active]="activeButtons['Teams'][team]" tabindex="0" [id]="team">
							{{ team }}
						</button>
					</div>
				</div>
				<div class="teams-dropdown-league">National League</div>
				<div class="teams-dropdown-column">
					<div class="teams-dropdown-subheader" id="NationalLeagueEast">
						<button class="button" style="color: black; font-size:large" (click)="toggleButton($event.target, 'Divisions')">East</button>
						<button class="button" *ngFor="let team of entireMLB['NationalLeague'].East" (click)="toggleButton($event.target, 'Teams')" [class.active]="activeButtons['Teams'][team]" tabindex="0" [id]="team">
							{{ team }}
						</button>
					</div>
					<div class="teams-dropdown-subheader" id="NationalLeagueCentral">
						<button class="button" style="color: black; font-size:large" (click)="toggleButton($event.target, 'Divisions')">Central</button>
						<button class="button" *ngFor="let team of entireMLB['NationalLeague'].Central" (click)="toggleButton($event.target, 'Teams')" [class.active]="activeButtons['Teams'][team]" tabindex="0" [id]="team">
							{{ team }}
						</button>
					</div>
					<div class="teams-dropdown-subheader" id="NationalLeagueWest">
						<button class="button" style="color: black; font-size:large" (click)="toggleButton($event.target, 'Divisions')">West</button>
						<button class="button" *ngFor="let team of entireMLB['NationalLeague'].West" (click)="toggleButton($event.target, 'Teams')" [class.active]="activeButtons['Teams'][team]" tabindex="0" [id]="team">
							{{ team }}
						</button>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="displayStatOptions" class="stats-dropdown">
			<button class="button" tabindex="0"><span>Batting Stats</span></button>
			<div class="stats-dropdown-content"id="battingStats">
				<button *ngFor="let stat of battingStats" class="button" (click)="toggleButton($event.target, 'battingStats')" [class.active]="activeButtons['battingStats'][stat]" tabindex="0" [id]="stat">
					{{ stat }}
				</button>
			</div>
		</div>
		<div *ngIf="displayStatOptions" class="stats-dropdown">
			<button class="button" tabindex="0"><span>Pitching Stats</span></button>
			<div class="stats-dropdown-content" id="pitchingStats">
				<button *ngFor="let stat of pitchingStats" class="button" (click)="toggleButton($event.target, 'pitchingStats')" [class.active]="activeButtons['pitchingStats'][stat]" tabindex="0" [id]="stat">
					{{ stat }}
				</button>
			</div>
		</div>
		<div *ngIf="displayStatOptions" class="button" (click)="resetTeamsandChart(false)" tabindex="0"><span>Reset</span></div>
	</div>
	<div class="spacer"></div>
		<a href="https://github.com/BenjiDalton" target="_blank" rel="noopener">
			<img
			width="60"
			alt="Github logo"
			src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png"
			/>
		</a>
</div>
<app-data-table *ngIf="pageLoaded" 
	[yearsData]="yearsData" 
	[activeYear]="activeYear"
	[entireMLB]="entireMLB">
</app-data-table>
<div class="content" role="main">
	<div class="main-section">
		
		<div>
			<canvas id="myChart"></canvas>
		</div>
		<div *ngIf="displaySlider" class="chart-slider-container">
			<input type="range" min="1" max="162" value="162" class="chart-slider" id="maxSlider" (input)="updateSliderValue()">
		</div>
	</div>
	<div class="side-section">
		<div class="small-chart">
			<ng-container *ngFor="let item of activeStats['pitchingStats']|keyvalue">
				<canvas [id]="'pitchingStats-'+ item.key + '-Chart'" class="smallChart"></canvas>
			</ng-container>
			<ng-container *ngFor="let item of activeStats['battingStats']|keyvalue">
				<canvas [id]="'battingStats-'+ item.key + '-Chart'" class="smallChart"></canvas>
			</ng-container>
		</div>
		
		
	</div>
</div>
